@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

body {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

/* Forzar renderizado de píxeles en toda la app */
* {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}